@model IEnumerable<Transport_licensing_tax_management.DataModel.Vehicles>
@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<div class="row justify-content-center">

    <div class="col-md-10 col-sm-10 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>My New Car Request</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Create At</th>
                            <th>Reg Serial</th>
                            <th>Engine Number</th>
                            <th>Chassis Number</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var vehicle in Model)
                            {
                                <tr onclick="redirectToMyCarStatus('@Url.Action("MyCarStatus", new { VehiclesId = @vehicle.VehiclesId })')">

                                    <td>@vehicle.VehiclesId</td>
                                    <td>@vehicle.Create_At</td>
                                    <td>@vehicle.RegSerial</td>
                                    <td>@vehicle.EngineNumber</td>
                                    <td>@vehicle.chassisNumber</td>
                                    <td>@vehicle.Status</td>
                                    <td>
                                        @if (vehicle.Status == "Pending")
                                        {
                                            <a href="@Url.Action("UpdateInfo", new { VehiclesId = @vehicle.VehiclesId })" class="btn btn-primary">Edit</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No vehicles found.</td>
                            </tr>
                        }
                </table>

                <!-- End SmartWizard Content -->

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

    });
    function redirectToMyCarStatus(url) {
        window.location.href = url;
    }
</script>