@model IEnumerable<Transport_licensing_tax_management.DataModel.Vehicles>
@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int i = 1;
}

<div class="card mt-4" style="width: 100%;">
    <div class="card-body">
        <h1 class="card-title text-center">My New Car Request</h1>
        <div class="x_content">
            <table id="myTable" class="table text-center">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Create At</th>
                        <th>Reg Serial</th>
                        <th>Engine Number</th>
                        <th>Chassis Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var vehicle in Model)
                        {
                            <tr>

                                <td>@i</td>
                                <td>@vehicle.Create_At</td>
                                <td>@vehicle.RegSerial</td>
                                <td>@vehicle.EngineNumber</td>
                                <td>@vehicle.chassisNumber</td>
                                <td>@vehicle.Status</td>
                               
                                 @* else if(vehicle.Status=="Payment")
                                   {
                                     <td>Payment</td>
                                    }*@
                                <td>
                                @if (vehicle.Status == "Pending")
                                {
                                        <a href="@Url.Action("UpdateInfo", new { VehiclesId = @vehicle.VehiclesId })" style="background-color:dodgerblue" class="btn btn-sm text-white">Edit</a>
                                    }
                                    <button class="btn btn-warning btn-sm" onclick="redirectToMyCarStatus('@Url.Action("MyCarStatus", new { VehiclesId = @vehicle.VehiclesId })')">View Process</button>
                           </td>
                                
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No vehicles found.</td>
                        </tr>
                    }
                   
            </table>

            <!-- End SmartWizard Content -->

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

    });
    function redirectToMyCarStatus(url) {
        window.location.href = url;
    }
</script>