@model IEnumerable<Transport_licensing_tax_management.DataModel.Notices>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Notice</h1>

<p>
    <a class="btn btn-primary btn-sm text-white" href="@Url.Action("Create", "Notices")">Create New</a>
</p>


<table class="table text-center table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-sm text-white" data-id="@item.Id">Edit</a> |
                    <a href="#" class="delete-link btn btn-danger btn-sm text-white" data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.delete-link').click(function () {
            var id = $(this).data('id');
            var indexPageUrl = 'Index';
            $.ajax({
                url: '@Url.Action("Delete", "Notices")/' + id,
                type: 'POST',
                success: function (result) {
                    Swal.fire({
                        icon: result.icon,
                        title: result.title,
                        text: result.message
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = indexPageUrl;
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

</script>