@model IEnumerable<Transport_licensing_tax_management.ViewModel.TaxesVM>
@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<div class="card mt-4" style="width: 100%;">
    <div class="card-body">
        <h1 class="card-title">Tax Management</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="x_panel">
                        <form method="get" action="@Url.Action("MyTax", "TAX")">
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3" for="enginePowerS">Vehicle Name:</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" class="form-control" id="CarNumber" name="CarNumber" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                        <hr />
                        <div class="last-payment-info">
                            @if (Model != null)
                            {
                                <h4>Last Payment Information</h4>
                                <p>Last Payment Date: @Model.LastOrDefault()?.Issu_Date.ToShortDateString()</p>
                                <p>Fees: @Model.LastOrDefault()?.Fees.ToString("0.00")</p>
                                <p>Expiration Date: @Model.LastOrDefault()?.Expired_Date.ToShortDateString()</p>
                            }

                        </div>


                    </div>
                </div>
                <div class="col-sm">
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Vehicle No.</th>
                                    <th>NID</th>
                                    <th>Issue Date</th>
                                    <th>Expired Date</th>
                                    <th>Fees</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.TaxesHistory != null)
                                {
                                    int i = 1;
                                    foreach (var registrationFee in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@registrationFee.VehiclesNumber</td>
                                            <td>@registrationFee.RegisterNID</td>
                                            <td>@registrationFee.Issu_Date</td>
                                            <td>@registrationFee.Expired_Date</td>
                                            <td>@registrationFee.Fees</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">No tax history available.</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

    });
    function redirectToMyCarStatus(url) {
        window.location.href = url;
    }
</script>