@model IEnumerable<Transport_licensing_tax_management.ViewModel.TaxesVM>

@{
    ViewData["Title"] = "Report";
    Layout = "_ReportLayout";
}

<style>

    .tgroup, h1, p {
        margin: 30px;
    }
</style>
<div>
    <div class="text-center pt-5">
        <h3 style="text-decoration: underline rgb(146, 146, 146);">Vehicle Report</h3>


    </div>

    <div class="tgroup">
        <table class="table table-bordered border-primary text-center">
            <tbody>
                @if (ViewBag.TaxesHistory != null)
                {
                    foreach (var registrationFee in Model)
                    {
                            <tr> 
                                <th>Vehicle No.</th>
                                <td> @registrationFee.VehiclesNumber</td>
                                </tr>
                                <tr>
                                <th>NID</th>
                                <td>@registrationFee.RegisterNID</td>
                                </tr>
                                <tr>
                                <th>Issue Date</th>
                                <td>@registrationFee.Issu_Date</td>
                                </tr>
                                <tr>
                                <th>Expired Date</th>
                                   <td>@registrationFee.Expired_Date</td>
                                </tr>
                               <tr>
                                <th>Fees</th>
                                  <td>@registrationFee.Fees</td>
                            </tr>
  
                    }
                }
            </tbody>
        </table>
    </div>
</div>