@model Transport_licensing_tax_management.ViewModel.TaxesVM

@{
    ViewData["Title"] = "Report";
    Layout = "_ReportLayout";
}

<style>
    .tgroup {
        margin: 30px;
    }

    .report-heading {
        text-decoration: underline rgb(146, 146, 146);
    }
</style>

<div class="text-center pt-5">
    <h3 class="report-heading">Vehicle Report</h3>
</div>

<div class="tgroup">
    <table class="table table-bordered border-primary text-center">
        <tbody>
            <tr>
                <th>Vehicles Number</th>
                <td>@Html.DisplayFor(model => model.VehiclesNumber)</td>
            </tr>
            <tr>
                <th>User NID</th>
                <td>@Html.DisplayFor(model => model.RegisterNID)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Issu_Date)</th>
                <td>@Html.DisplayFor(model => model.Issu_Date)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Expired_Date)</th>
                <td>@Html.DisplayFor(model => model.Expired_Date)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Fees)</th>
                <td>@Html.DisplayFor(model => model.Fees)</td>
            </tr>
        </tbody>
    </table>
</div>
