@model Transport_licensing_tax_management.ViewModel.TaxesVM

@{
    ViewData["Title"] = "Report";
    Layout = "_ReportLayout";
}

<style>
    .tgroup {
        margin: 30px;
    }

    .report-heading {
        text-decoration: underline rgb(146, 146, 146);
    }
</style>

<div class="text-center pt-5">
    <h3 class="report-heading text-success font-weight-bold">TAX TOKEN</h3>
    <h3>(Always Keep This In Your Vehicle)</h3>
</div>

<div class="tgroup">
    <table class="table table-bordered border-primary text-center">
        <tbody>
            <tr>
                <th>Vehicles Number</th>
                <td>@Html.DisplayFor(model => model.VehiclesNumber)</td>
            </tr>
            <tr>
                <th>User NID</th>
                <td>@Html.DisplayFor(model => model.RegisterNID)</td>
            </tr>
            <tr>
                <th>Issue Date</th>
                <td>@Html.DisplayFor(model => model.Issu_Date)</td>
            </tr>
            <tr>
                <th>Expired Date</th>
                <td>@Html.DisplayFor(model => model.Expired_Date)</td>
            </tr>
            <tr>
                <th>Total Amount Paid (Tk)</th>
                <td>@Html.DisplayFor(model => model.Fees)</td>
            </tr>
        </tbody>
    </table>
</div>

<footer class="py-4 mt-auto">
    <div class="text-center">
        <p>--------------------FOR OFFICIAL USE ONLY--------------------</p>
     </div>
    <img src="~/images/pic4.jpg" alt="Trulli" width="150" height="100" align="left">
    <img src="~/images/pic3.jpg" alt="Trulli" width="118" height="95"  align="right">
</footer>