@model IEnumerable<Transport_licensing_tax_management.DataModel.Payments>

@{
    ViewData["Title"] = "New Vehicles Registration List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    <a class="btn btn-success text-white" href="@Url.Action("PaymentReportPDF", "Payments")">Report</a>
</p>

<!--Search And Print For Date-->
<input type="text" id="searchInput" placeholder="Search by Created At">
<button id="printButton" class="btn btn-dark btn-sm">Print</button>
<br />

<!--Search And Print For Type-->
<input type="text" id="searchInput2" placeholder="Search by Type">
<button id="printButton2" class="btn btn-dark btn-sm">Print</button>

<table class="table table-bordered" id="paymentTable">
    <thead>
        <tr>
            <th>SL</th>
            <th>Payment By Car Number</th>
            <th>Payments ID</th>
            <th>Payment By Code</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Create At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td class="sl-number"></td>
                <td>@payment.CarNumber</td>
                <td>@payment.PaymentsID</td>
                <td>@payment.PaymentCode</td>
                <td>@payment.Amount</td>
                <td>@payment.Type</td>
                <td>@payment.Create_At</td>
            </tr>
        }
    </tbody>
</table>



<!--Code For Search Report And get Print-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Search functionality
        $("#searchInput").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                $(this).toggle($(this).find("td:last-child").text().toLowerCase().indexOf(searchText) > -1)
            });
        });

        // Print functionality
        $("#printButton").on("click", function () {
            window.print();
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Search functionality
        $("#searchInput2").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                $(this).toggle($(this).find("td:nth-child(6)").text().toLowerCase().indexOf(searchText) > -1)
            });
        });

        // Print functionality
        $("#printButton2").on("click", function () {
            window.print();
        });
    });
</script>
<!--Code For Search Report And get Print End-->

<!--Add serial number reverse order start-->
<script>
    // Add serial numbers in reverse order
    var rows = document.querySelectorAll("#paymentTable tbody tr");
    for (var i = rows.length - 1, sl = 1; i >= 0; i--, sl++) {
        var slCell = rows[i].querySelector(".sl-number");
        slCell.textContent = sl;
    }
</script>
<!--Add serial number reverse order end-->

