@model IEnumerable<Transport_licensing_tax_management.DataModel.Payments>

@{
    ViewData["Title"] = "New Vehicles Registration List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}
<head>
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css" />
</head>
<p>
    <a class="btn btn-success text-white" href="@Url.Action("PaymentReportPDF", "Payments")">Report</a>
</p>
<input type="text" id="searchInput" placeholder="Search by Created At">
<button id="printButton" class="btn btn-primary btn-sm">Print</button>
<br />
<input type="text" id="searchInput2" placeholder="Search by Type">
<button id="printButton2" class="btn btn-primary btn-sm">Print</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SL</th>
            <th>Payment By Car Number</th>
            <th>Payments ID</th>
            <th>Payment By Code</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Create At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@i.</td>
                <td>@payment.CarNumber</td>
                <td>@payment.PaymentsID</td>
                <td>@payment.PaymentCode</td>
                <td>@payment.Amount</td>
                <td>@payment.Type</td>
                <td>@payment.Create_At</td>
            </tr>
            i++;
        }
    </tbody>
</table>




<!--Code For Search Report And get Print-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Search functionality
        $("#searchInput").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                $(this).toggle($(this).find("td:last-child").text().toLowerCase().indexOf(searchText) > -1)
            });
        });

        // Print functionality
        $("#printButton").on("click", function () {
            window.print();
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Search functionality
        $("#searchInput2").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                $(this).toggle($(this).find("td:nth-child(6)").text().toLowerCase().indexOf(searchText) > -1)
            });
        });

        // Print functionality
        $("#printButton2").on("click", function () {
            window.print();
        });
    });
</script>






    @*<script type="text/javascript">

        let minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        DataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = minDate.val();
            let max = maxDate.val();
            let date = new Date(data[4]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        // Create date inputs
        minDate = new DateTime('#min', {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime('#max', {
            format: 'MMMM Do YYYY'
        });

        // DataTables initialisation
        let table = new DataTable('#example');

        // Refilter the table
        document.querySelectorAll('#min, #max').forEach((el) => {
            el.addEventListener('change', () => table.draw());
        });
    </script>*@
